<p>
  map :
</p>

<p>{{treasureMap.map.adventurers | json}}</p>

<button mat-raised-button color="primary" (click)="runMovements()">Simuler les mouvements des aventuriers</button>
<button mat-raised-button color="warn" [disabled]="!output" (click)="download()">Fichier de sortie</button>

<div class="treasureMap" *ngIf="treasureMap.map">
  <div *ngFor="let mapH of treasureMap.map">
    <div class="mapSquare" *ngFor="let square of mapH"> {{square | treasureMap: treasureMap.turn}}</div>
  </div>
</div>
